DATABASE_URL="postgresql://neondb_owner:npg_J1UGedTZb7hF@ep-patient-bread-anradt6h-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="f3c3e7a85b983b05757d20c3aa72e81d8b9ec8c4b4ee9cdf8f380629f4a4e6b7"

EMAIL_SERVER_HOST=mail.optikart.hu
EMAIL_SERVER_PORT=465
EMAIL_SERVER_USER=noreply@optikart.hu
EMAIL_SERVER_PASSWORD=Gum55NDx!
NEXT_PUBLIC_APP_URL=https://testbuild.optikart.hu

CLOUDINARY_CLOUD_NAME=dsuv32fm1
CLOUDINARY_API_KEY=783497963943813
CLOUDINARY_API_SECRET=knjUO_BE1o4ITbYVHLChh8p82d8
CLOUDINARY_UPLOAD_PRESET=optikart_gallery

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dsuv32fm1
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=optikart_gallery